body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", Verdana, monospace;
  background-color: #3C41C6;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
